In [1]:
print("Hello World")

Hello World

In [2]:
name = "Mark"

In [3]:
print(name)

Mark

In [8]:
a = "6"
b = 17
c = a * b
print (c)

66666666666666666

In [2]:
weight = 78
weight = weight + 2
print (weight)

80

In [8]:
a = "1"
b = "4"
c = a + b
print (c)

14

In [9]:
Company_name = "MASTER TIE"
CEO_name = 'Anwar ul haque'
Serves_on = "Since 1994"
print (Company_name)
print(CEO_name)
print (Serves_on)

MASTER TIE
Anwar ul haque
Since 1994

In [13]:
C_Expense = 80000
Outlet_Expense = 40000
Other_Expense = 30000
Business_revenue = C_Expense + Outlet_Expense + Other_Expense
print ('Business_revenue :',Business_revenue)

Business_revenue : 150000

In [20]:
a = 90
b = 54
c = 1
f = 67
r = 32
add = a + b + c + f + r
sub = a - b - c - f - r
mul = a * b * c * f * r
expr = (f * r) - (a // c) * b
print (add)
print (sub)
print (mul)
print (expr)
#div = a / b / c / f / r

244
-64
10419840
-2716

In [22]:
a = 7
b = 2
print (7 // 2)

3

In [32]:
No1 = 3
print (No1)

3

In [16]:
# Modulo Operator
num1 = 81
num2 = 9
Remainder = num1 % num2
print (Remainder)

0

In [22]:
age = 21
#c_age = age + 1
#print (c_age)
age += 1
#age += age 
print (age)

22

In [24]:
chocolates = 3
person = 5
chocolates *= person
print (chocolates)

15

In [44]:
lamps = 25
costumers = 8
lamps -= costumers
print (lamps)

17

In [45]:
lamps = 105
lamps += 50
print (lamps)

155

In [2]:
opr = 54 // (70 - 66)
print (opr)

13

In [4]:
opr = (54 // 70) - 66
print (opr)

-66

In [5]:
print ((2*4)*4+2)

34

In [6]:
print (((2*4)*4)+2)

34

In [7]:
print ((2*4)*(4+2))

48

In [25]:
# num = "4"
words = "The num is"
print (words + " " + "5")

The num is 5

In [26]:
print (5**2)

25

In [12]:
ip = input("Enter your balance : ")
print (ip)

Enter your balance : 245010
245010

In [33]:
# input always take string
# x = int(input("Enter your value  : "))
# Or
x = input("Enter your value  : ")
y = 15
z = int (x)+y
print (z)

Enter your value  : 5
20

In [14]:
print ('Hi'*3)

HiHiHi

In [15]:
print (3 * 'Hi')

HiHiHi

In [31]:
a = int(input())
b = 4
print (c)

5
9